/* color */
/* css */
/* Basic setting */
html {
  font-size: 10 px;
}
/* Typography */
.section {
  padding: 2rem 0;
}
.logo {
  padding: 7rem;
  text-align: center;
}
.col-md-2 {
  text-align: center;
}
.col-md-2 a:hover {
  background: #f58466;
  text-decoration: none;
}
a {
  font-family: Myriad Pro , Area ;
  color: #95a7b2;
  font-size: x-large;
}
.slide {
  text-align: center;
}
.head-section1 {
  padding: 3rem 0 0 0;
}
.head-section1 p {
  text-align: center;
  font-size: x-large;
}
.store-section {
  padding-top: -10px;
  text-align: center;
}
.front p {
  text-align: center;
}
.infkom img {
  float: left;
  margin: 10px;
}
.nav-bar p {
  background: #fff;
  text-align: center;
  padding-left: 10px;
}
.menu-3 {
  color: #000;
  font-size: large;
}
.nav-bar a {
  font-size: small;
  text-align: center;
}
.footer {
  background: #fef1ee;
  height: 100px;
}
.poisk input {
  width: 500px;
}
